link(rel='import', href='../bower_components/polymer/polymer.html')

polymer-element(name='x-buffer', extends='x-element')
  template
    #body
    #status
  style
    :stylus
  script(src='javascripts/buffer.js')
