link(rel='import', href='../bower_components/polymer/polymer.html')
link(rel='import', href='text-buffer.html')

polymer-element(name='x-buffers-panel', extends='x-element')
  template
    #items
  style
    :stylus
  script(src='javascripts/buffers-panel.js')
