link(rel='import', href='../bower_components/polymer/polymer.html')

polymer-element(name='x-file-item', extends='x-element', attributes='filename')
  template
    #body(on-click="{{openFile}}")
      #name {{filename}}
  style
    :stylus
  script(src='javascripts/file-item.js')
