link(rel='import', href='../bower_components/polymer/polymer.html')
link(rel='import', href='file-item.html')
link(rel='import', href='button.html')

polymer-element(name='x-file-tree', extends='x-element')
  template
    #items
    #buttons
  style
    :stylus
      #items
        height: 100%
  script(src='javascripts/file-tree.js')
