link(rel='import', href='../bower_components/polymer/polymer.html')
link(rel='import', href='buffer.html')

polymer-element(name='x-text-buffer', extends='x-buffer')
  template
    #body
      textarea
    #status
  style
    :stylus
      textarea
        width: 100%
        height: 100%
  script(src='javascripts/text-buffer.js')
